# Подготовка данных к созданию дашборда для Яндекс.Дзен

## Импорт библиотек и загрузка данных

In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

## Подключаемся к БД и делаем SQL запрос

In [2]:
#словарь для подключения к БД
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])
#Собориаем подключение в строку:
engine = create_engine(connection_string)

#Пишем SQL запрос, загрузим все колонки с сырыми данными
query = ''' SELECT *
            FROM dash_visits
        '''
#Сохраняем в переменную загруженную БД
dash_visits = pd.io.sql.read_sql(query, con = engine)

Напишем функцию для предваретильной проверки данных:

In [3]:
def pre_check(df):
    display(df.head(5)) # вывод первых 5 строк
    display('Количество пустых ячеек:', df.isna().sum()) # количество пустых ячеек
    display('Количество дубликатов:', df.duplicated().sum()) # количество абсолютных дубликатов
    df.info() # общая информация

Проверим загруженные данные

In [4]:
pre_check(dash_visits)

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

'Количество пустых ячеек:'

record_id       0
item_topic      0
source_topic    0
age_segment     0
dt              0
visits          0
dtype: int64

'Количество дубликатов:'

0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

## Сохраним загруженные данные в файл для создания дашборда

In [5]:
dash_visits.to_csv('dash_visits.csv', index=False)

Хорошо переходим в Tableau: